.board-container{
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  background-color: #FF00FF;
  border: 4px solid #FF00FF;
  box-shadow: 0 0 15px #FF00FF;
}